.col-blue{
    color: #0dcaf0;
}
.bg-none{
    background: none;
}
.col-white{
    color: white;
}
.bg-blue{
    background: #0dcaf0;
}
.bold{
    font-weight: bold;
}
.btn{
    margin: 5px 5px;
    cursor: pointer;
}

.flex{
    display : flex;
}
.boder{
    border: 1px solid #e293d3 !important;
}

.format{
    margin-left: 20px;
}
.multiselect__tags {
    min-height: 33.5px;
    height: auto;
    display: block;
    padding: 0.425rem 40px 0 0.375rem;
    border-radius: 5px;
    border: 1px solid #f1f3f4;
    background: #fff;
    font-size: 13px;
}
.con{
    width: 100%;
}






