[data-v-0e04a82d] .modal-content {
    border-radius: 20px;
}

 .border-0 {
     border: 0!important;
 }

 .modal-content {
     position: relative;
     display: flex;
     flex-direction: column;
     width: 100%;
     pointer-events: auto;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid rgba(0,0,0,.2);
     border-radius: 0.3rem;
     outline: 0;
 }
.px-4 {
    padding-left: 1.6188rem!important;
}

 .pr-4, .px-4 {
     padding-right: 1.6188rem!important;
 }

 .border-bottom-0 {
     border-bottom: 0!important;
 }
.modal-title {
    font-size: 1.285rem!important;
}

 .text-truncate {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .text-nowrap {
     white-space: nowrap!important;
 }
 .modal-title {
     margin-bottom: 0;
     line-height: 1.5;
 }
.justify-content-center {
    justify-content: center!important;
}

 .d-flex {
     display: flex!important;
 }
.text-center {
    text-align: center!important;
}

 .w-75 {
     width: 75%!important;
 }
.modal-check-register-user .title[data-v-0e04a82d] {
    font-size: 24px;
}

 .font-weight-bold {
     font-weight: 500!important;
 }
.mb-4, .my-4 {
    margin-bottom: 1.6188rem!important;
}

 p {
     margin-top: 0;
 }
.modal-check-register-user .content[data-v-0e04a82d] {
    background: linear-gradient(180deg,#e5f7ed,rgba(164,247,201,0) 119.76%);
    background-image: linear-gradient(rgb(229, 247, 237), rgba(164, 247, 201, 0) 119.76%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

}
.modal-check-register-user .desc[data-v-0e04a82d] {
    font-size: 30px;
}

 .font-weight-bold {
     font-weight: 500!important;

 }

.modal-footer>* {
    margin: 0.25rem;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
 }
.my-3 {
    margin-bottom: 1.14rem!important;
}

 .w-100 {
     width: 100%!important;
 }
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.justify-content-center {
    justify-content: center!important;
}
.mx-0 {
    margin-right: 0!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
img {
    vertical-align: middle;
}

 img {
     border-style: none;
 }
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
}
div {
    display: block;
}
.modal-check-register-user .btn-redirect[data-v-0e04a82d] {
    border-radius: 20px;
    padding: 9px 20px;
}
 
 .btn:not(:disabled):not(.disabled) {
     cursor: pointer;
 }
 
 .btn {
     white-space: nowrap;
 }
 
 .btn-primary {
     color: #fff;
     background-color: #00b14f;
     border-color: #00b14f;
     margin-top: 10px;
 }

 .btn {
     display: inline-block;
     font-weight: 400;
     text-align: center;
     vertical-align: middle;
     user-select: none;
     border: 1px solid transparent;
     font-size: 1rem;
     line-height: 1.5;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
h2 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1.3688rem;
    border-top: 1px solid #f1f3f4;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-check-register-user .btn-redirect[data-v-0e04a82d] {
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 9px 20px;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    padding-left: 20px;
}
